<body>

<!-- Just an image -->
<nav class="navbar navbar-light bg-light fix-nav" style="padding: 0px; border-bottom: 4px solid #52E69C;">
  <div style="margin-left: 135px">
    <a class="navbar-brand" href="#">
      <img class="fix-img-nav" src="./image/Componente 2 – 1.png" alt="" width="150">
    </a>
  </div>
  <div class="nav-cover"></div>
</nav>



<section>
  <div class="notify uk-animation-slide-bottom-small">

    <div class="w-50  mx-auto " style="margin-top: 40px; margin-bottom: 30px">
      <div class="row">
        <div class="col-12">
          <div class="row mx-auto">
            <div class="col-3" style="text-align:center">
              <div class="tecla-enter">
                <h3 class="text-t-s" style="margin-top:10px; font-weight: 600;">CTRL</h3>
              </div>
            </div>
            <div class="col-1">
              <div>
                <h3 style="font-size: 40px; color: white; text-align: center;">+</h3>
              </div>
            </div>
            <div class="col-7">
              <div class="tecla-enter">
                <h3 class="text-t-s">____</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div style="margin-top: 40px; text-align: center">
            <h4 style="color: white;">Cuando cambies de lenguaje, presiona las tecla <span class="press">Ctrl</span> + <span class="press">Espacio</span> para reiniciar la traducción automáticamente</h4>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

</body>
