<body style="position: absolute; z-index: 100; width: 100%; height: 100vh; background-color: rgba(0,0,0,0.5)">

<section style="position: fixed">
  <div class="w-75 mx-auto" style="margin-top: 15vh">
    <!--<div>
      <div>
        <h2 style="background-color: #52E69C; width: 200px; padding: 10px; border-radius: 5px">Bienvenido</h2>
      </div>
      <div style="background-color: black; padding: 15px; border-radius: 5px">
        <h3>Daremos un recorrido breve a nuestro traductor <span style="font-weight: 600">Firstcode</span></h3>
        <p>
          Conoceremos el poder de aprender conceptos de programación con un lenguaje sencillo a tu idioma, donde podrás
        traducir bloques de código de un lenguaje de programación a un lenguaje natural, como el español, o bien, entre lenguajes
         (Lenguajes disponibles)
        </p>

        <div style="background-color: transparent!important; border: 2px solid white; width: 160px; text-align: center; border-radius: 5px">
          <button style="margin: 5px 0 5px 0" class="btn-next">Siguiente</button>
        </div>

      </div>
    </div>-->

    <div>
      <div style="background-color: transparent!important; border: 2px solid white; width: 100%; text-align: center; border-radius: 5px; height: 80px; margin-bottom: 30px; margin-left: 40px; margin-top: -35px">

      </div>
      <div style="background-color: black; padding: 15px; border-radius: 5px">
        <h3>Selección de idioma</h3>
        <p>
          Selecciona un lenguaje principal, este lenguaje será de donde pro
        </p>

        <div style="background-color: transparent!important; border: 2px solid white; width: 160px; text-align: center; border-radius: 5px">
          <button style="margin: 5px 0 5px 0" class="btn-next">Siguiente</button>
        </div>

      </div>
    </div>
  </div>
</section>

</body>
